.markdwon-content {
    padding-top: 20px;
    background-color: #fff;
}

.md-toc-container {
    padding: 20px;
    display: none;
    border-left: 1px solid #eee;
    background-color: #f2f2f2;
    position: fixed;
    top: 45px;
    right: 0;
    z-index: 1000;
    bottom: 0;
    width: 16.666666%;
}

.markdwon-content .markdown-body{
    font-size: 14px !important;
}

.sidebar {
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    padding: 20px;
    overflow: auto !important;
    background-color: #f2f2f2;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    width: 16.666666%;
}

.btn-toggle-container {
    color: #5e9cd1;
    position: absolute;
    top: 60px;
    right: 2%;
}

.btn-toggle-container i {
    color: #5e9cd1
}

@media (min-width: 992px) {
    .sidebar {
        display: block;
    }
    .md-toc-container {
        display: block;
    }
    .btn-toggle-container {
        right: 18%;
    }
}

@media (max-width: 992px) {
    .sidebar {
        width: 30%;
    }
    .md-toc-container {
        width: 30%;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 40%;
    }
    .md-toc-container {
        width: 40%;
    }
}


.nav-button {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


/*
 * Main content
 */

.main {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;
    background-color: #f2f2f2;
}

.main .page-header {
    margin-top: 0;
}

.ztree * {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree ul {
    overflow: unset !important;
}


#md_toc_container ul{
    padding-left: 20px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/*.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}*/

.panel {
    margin-top: 50px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.panel-white .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-white .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.comments-container{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 40px;
}